<h1>Editing Shelf</h1>

<ul>
    <% @books.each do |book| %>
        <% if @shelf.book_id.include?(book.id) %>
            <li><a href="<%= book_url(book) %>"><%= book.title %></a></li>
        <% end %>
    <% end %>
</ul>

<%= render 'form', shelf: @shelf %>

<%= link_to 'Show Shelf', @shelf %> 
